/* reset css */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}
/* Swiper */
.swiper {
  width: 100%;
  height: 500px;
}

.swiper img {
  width: 100%;
}
/* main css */

.Wrapper {
}
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
header > div {
  display: flex;
  font-size: 40px;
}
header > div > i {
  margin-right: 20px;
}
header > div > h1 {
  font-weight: 600;
}
header > nav > ul {
  display: flex;
  height: 40px;
  line-height: 40px;
}

header ul li {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  margin-right: 40px;
}

header ul li:nth-child(5) {
  margin-right: 20px;
}

/* font-face */
@font-face {
  font-family: "GongGothicMedium";
  src: url(../font/Gong\ Gothic\ Medium.ttf);
}

/* Animation Keyframes */
@keyframes verticalscroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1045px);
  }
}
/* Service */
.service-wrapper {
  padding: 0 90px;
  background-color: #f9f9f9;
  height: 860px;
  overflow: hidden;
}
.service {
  overflow: hidden;
}
.service .left-box {
  width: 50%;
  padding: 190px 0 190px 30px;
  float: left;
}
.service .left-box strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 20px;
}
.service .left-box h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
}
.service .left-box h3 > span {
  color: #aaa;
}

.service .left-box .service-btn {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  background: #1e1e1e;
  padding: 0 40px;
  font-size: 15px;
  line-height: 54px;
  border-radius: 100px;
  text-decoration: none;
  margin-top: 48px;
}

.service .right-box {
  width: 50%;
  float: left;
  overflow: hidden;
}

.service .right-box ul {
  width: 43%;
  margin-right: 7%;
  float: left;
  animation: verticalscroll 50s linear infinite;
}

.service .right-box ul:last-child {
  margin-right: 0;
  position: relative;
  top: -160px;
}

.service .right-box ul li {
  position: relative;
  margin-bottom: 40px;
}

.service .right-box ul li img {
  width: 100%;
  border-radius: 24px;
}

.service .right-box ul li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}

/* business */
.bisiness-wrapper {
  background: #f3f3f3;
  margin-bottom: 120px;
}
.bisiness-wrapper .bisiness {
  padding: 150px 20px;
}

.bisiness-wrapper .bisiness h1 {
  margin-bottom: 50px;
  position: relative;
}
.bisiness h1 img {
  max-width: 100%;
}
.bisiness .bisiness-title {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 85px;
}

.business-list {
  display: flex;
  margin-left: -20px;
}

.business-list li {
  box-sizing: content-box;
  width: 33.333%;

  padding-left: 60px;
}
.business-list li:first-child {
  padding-left: 20px;
}
.business-list li div {
}
.business-list li div img {
  width: 100%;
  margin-bottom: 60px;
  height: 300px;
}

.business-list .text-box {
  padding-left: 60px;
  position: relative;
}

.business-list .number {
  position: absolute;
  left: 0;
  top: 2px;
  font-family: GongGothicMedium;
}

.business-list .tit {
  font-size: 30px;
  margin-bottom: 15px;
}

.business-list .text {
  font-size: 15px;
  line-height: 1.4;
}

.view-container {
  padding-left: 60px;
  display: flex;
}
.view-container dl {
}
.view-container dl dt {
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
}
.view-container dl dd {
}
.view-container dl dd p {
  margin: 40px 0;
  line-height: 1.6;
  font-size: 18px;
}

.view-container dl dd a {
  color: #696969;
  font-size: 14px;
  text-decoration: underline;
  text-underline-position: under;
}

.port-view {
  position: relative;
  width: 1060px;
}
.port-view port-list {
}
.port-list {
  width: 100%;
}
.port-list li {
  list-style: none;
  padding-left: 95px;
}
.port-list li figcaption {
  position: relative;
  margin: 10px 0 10px 0;
  padding: 30px 0 40px 60px;
  width: 500px;
  z-index: 2;
  cursor: pointer;
}

.port-list li.active figcaption {
  border: 1px solid #000;
  width: 610px;
  background: #fff;
  box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
  transition: all 1s;
  z-index: 3;
}

.port-list li figcaption span {
  font-size: 14px;
  font-weight: 700;
}
.port-list li figcaption strong {
  font-size: 24px;
  margin: 10px 0 20px;
  font-weight: 700;
}
.port-list li figcaption em {
  font-size: 14px;
}
.port-view figcaption > * {
  display: block;
  /* color: #959595; */
}

.port-view li img {
  position: absolute;
  top: 0;
  right: -150px;
  width: 548px;
  height: 638px;
  display: none;
}

.port-list li i {
  opacity: 0;
}

.port-list li.active i {
  position: absolute;
  right: 62px;
  top: 50%;
  font-size: 42px;
  transform: translateY(-50%);
  opacity: 1;
}

.port-view li img.active-img {
  display: block;
}

/* PROJECt */
.project-wrapper {
  padding: 30px 60px 30px;
  position: relative;
  margin-bottom: 50px;
}

.project {
  display: flex;
  position: relative;
}
.project-wrapper .project {
}
.project-wrapper .project .main-project-text {
  /* width: 34.2%; */
  width: 20.2%;
}

.project-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 74px;
  margin-bottom: 20px;
}

.project-desc {
  font-size: 20px;
}

.main-project-slide {
  position: relative;

  width: 75.8%;
  padding-left: 20px;
  overflow: hidden;
  /* box-sizing: content-box; */
}

.bx-group {
  display: flex;
}

.bx-group > div {
  flex: 1;

  /* background: burlywood; */
}

.bx-group > div {
  margin-left: 30px;
}
.bx-group > div:first-child {
  margin-left: 0;
}

.bx-group > div > h4 {
  text-align: center;
}

.bx-group > div > h4 {
  font-size: 22px;
  font-weight: bold;
}

.bx-group > div > img {
  vertical-align: top;
  height: 600px;
  margin-bottom: 30px;
}

.bx-group > div:first-child > img {
}

/* swiper pagination */
.swiper-pagination-fraction {
  position: absolute;
  bottom: 0;
  left: 160px;
  width: 100px;
  font-size: 24px;
  font-weight: bold;
}

.mySwiper1 {
  height: auto;
}

.swiper-slide1 {
  padding-left: 300px;
  padding-right: 40px;
  overflow: hidden;
}

.bx-group {
  overflow: hidden;
}

.swiper-button-prev {
  left: 260px;
}

.swiper-button-prev .custom-swiper-btn-next {
  left: 0 !important;
}
.swiper-button-next {
  right: -2px;
}

/* Naver Map Api */
#map {
  margin: 50px 0 60px;
  width: 100%;
  height: 500px;
}

/* Section-menu */

.section-menu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 57px;
}

.section-menu .product-menu,
.section-menu .product-counseling,
.section-menu .product-question {
  display: block;
  width: 233px;
  height: 98px;
  float: left;
  border-right: 1px solid #ebebeb;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.section-menu .product-menu > span {
  display: block;
  padding-top: 73px;
  background: url(https://www.acebed.com/common/images/mainsec8-icon1.png)
    no-repeat center 0;
}

.section-menu .product-counseling > span {
  display: block;
  padding-top: 73px;
  background: url(https://www.acebed.com/common/images/mainsec8-icon2.png)
    no-repeat center 0;
}

.section-menu .product-question > span {
  display: block;
  padding-top: 73px;
  background: url(https://www.acebed.com/common/images/mainsec8-icon3.png)
    no-repeat center 0;
}

.customer-wrapper {
  width: 100%;
  height: 362px;
  display: flex;
  position: relative;
  width: 100%;
  height: 362px;
  margin-top: 137px;
}
.customer-wrapper .customer-left-wrapper {
  background: #ebebeb;
  width: 50%;
  height: 100%;
}
.customer-wrapper .customer-right-wrapper {
  /* background: tomato; */
  width: 50%;
  height: 100%;
}

.customer-left {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 790px;
  width: 630px;
  height: 362px;
}

.customer-left li {
  display: table-cell;
  height: 362px;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
}

.customer-left-wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 362px;
  background: #f4f4f4;
}

.customer-left .tx1 {
  font-weight: bold;
}

.customer-left .tx2 {
  font-size: 40px;
  margin-top: 30px;
  letter-spacing: 3px;
}
.customer-left .tx3 {
  color: #888;
  margin-top: 6px;
}

.customer-right-wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 362px;
}
.customer-right-wrapper .customer-right {
  display: table-cell;
  width: 100%;
  height: 362px;
  vertical-align: middle;
  padding-left: 143px;
}

.customer-right .tx4 {
  font-size: 30px;
  line-height: 40px;
  color: #333;
  font-weight: 400;
}

.google-app {
  display: inline-block;

  height: 60px;
  border: 1px solid #d1d1d1;
  color: #777;
  line-height: 55px;
  text-align: center;
  margin-top: 30px;

  padding: 5px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-right: 10px;
}

.google-app:last-child {
  margin-right: 0;
}

/* footer */

footer {
  position: relative;
  height: 220px;
  padding: 60px 370px 62px 80px;
  background: #fff;
  z-index: 16;
}

.footer-link {
  margin-bottom: 10px;
}

.footer-link a {
  display: inline-block;
  margin-right: 45px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 36px;
}

.footer-link a.priv {
  color: #0890c0;
  font-weight: 700;
}

footer > p {
  font-size: 14px;
  font-weight: 300;
  color: #777;
  line-height: 30px;
}
