/* reset css */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}
/* Swiper */
.swiper {
  width: 100%;
  height: 500px;
}

.swiper img {
  width: 100%;
}
/* main css */

.Wrapper {
}
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
header > div {
  display: flex;
  font-size: 40px;
}
header > div > i {
  margin-right: 20px;
}
header > div > h1 {
  font-weight: 600;
}
header > nav > ul {
  display: flex;
  height: 40px;
  line-height: 40px;
}

header ul li {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  margin-right: 40px;
}

header ul li:nth-child(5) {
  margin-right: 20px;
}

/* font-face */
@font-face {
  font-family: "GongGothicMedium";
  src: url(../font/Gong\ Gothic\ Medium.ttf);
}

/* Animation Keyframes */
@keyframes verticalscroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1045px);
  }
}
/* Service */
.service-wrapper {
  padding: 0 90px;
  background-color: #f9f9f9;
  height: 860px;
  overflow: hidden;
}
.service {
  overflow: hidden;
}
.service .left-box {
  width: 50%;
  padding: 190px 0 190px 30px;
  float: left;
}
.service .left-box strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 20px;
}
.service .left-box h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
}
.service .left-box h3 > span {
  color: #aaa;
}

.service .left-box .service-btn {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  background: #1e1e1e;
  padding: 0 40px;
  font-size: 15px;
  line-height: 54px;
  border-radius: 100px;
  text-decoration: none;
  margin-top: 48px;
}

.service .right-box {
  width: 50%;
  float: left;
  overflow: hidden;
}

.service .right-box ul {
  width: 43%;
  margin-right: 7%;
  float: left;
  animation: verticalscroll 50s linear infinite;
}

.service .right-box ul:last-child {
  margin-right: 0;
  position: relative;
  top: -160px;
}

.service .right-box ul li {
  position: relative;
  margin-bottom: 40px;
}

.service .right-box ul li img {
  width: 100%;
  border-radius: 24px;
}

.service .right-box ul li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}

/* business */
.bisiness-wrapper {
  background: #f3f3f3;
}
.bisiness-wrapper .bisiness {
  padding: 150px 20px;
}

.bisiness-wrapper .bisiness h1 {
  margin-bottom: 50px;
  position: relative;
}
.bisiness h1 img {
  max-width: 100%;
}
.bisiness .bisiness-title {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 85px;
}

.business-list {
  display: flex;
  margin-left: -20px;
}

.business-list li {
  box-sizing: content-box;
  width: 33.333%;

  padding-left: 60px;
}
.business-list li:first-child {
  padding-left: 20px;
}
.business-list li div {
}
.business-list li div img {
  width: 100%;
  margin-bottom: 60px;
  height: 300px;
}

.business-list .text-box {
  padding-left: 60px;
  position: relative;
}

.business-list .number {
  position: absolute;
  left: 0;
  top: 2px;
  font-family: GongGothicMedium;
}

.business-list .tit {
  font-size: 30px;
  margin-bottom: 15px;
}

.business-list .text {
  font-size: 15px;
  line-height: 1.4;
}
